
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */

body {
  /* color: white; */
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-size: 40px;
}

h2 {}

h3 {}

p {
  margin: 0 0 30px 0;
}



/* ---- layout ---- */

/* ---- components ---- */

#site-header {
  /* padding: 30px 0; */
  color: black;
  background: white;
}

.header-text {
  color: rgb(112,128,144);
}

.input-header {
  font-size: 16px;
  padding: 20px;
}

.text-link-header {
  font-size: 14px;
  color: rgb(112,128,144);
  text-align: center;
}

.site-middle {
  background-color: rgb(0, 51, 204);
}

#site-footer {
  color: black;
  padding: 60px 0;
  background: white;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

hr {
  display: none;
}

.section {
  /* margin-bottom: 20px;
  padding-top: 20px; */
}
/* 
@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
} */

.footer-links {
  display: inline;
}


